<a href="https://colab.research.google.com/github/janjibDEV/Students-_Mark_Prediction_ML_Model/blob/main/Spaceship_Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
import pandas as pd
import numpy as np

In [26]:
df = pd.read_csv("train.csv")
df

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

In [27]:
tf = pd.read_csv("test.csv")
tf

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,9266_02,Earth,True,G/1496/S,TRAPPIST-1e,34.0,False,0.0,0.0,0.0,0.0,0.0,Jeron Peter
4273,9269_01,Earth,False,NaN,TRAPPIST-1e,42.0,False,0.0,847.0,17.0,10.0,144.0,Matty Scheron
4274,9271_01,Mars,True,D/296/P,55 Cancri e,NaN,False,0.0,0.0,0.0,0.0,0.0,Jayrin Pore
4275,9273_01,Europa,False,D/297/P,NaN,NaN,False,0.0,2680.0,0.0,0.0,523.0,Kitakan Conale
4276,9277_01,Earth,True,G/1498/S,PSO J318.5-22,43.0,False,0.0,0.0,0.0,0.0,0.0,Lilace Leonzaley

- delete passenger id, name

In [28]:
target = df["Transported"]
df = df.drop(["PassengerId","Name","Transported"],axis=1)
df

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
0,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0
1,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0
2,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0
3,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0
4,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...
8688,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0
8689,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0
8690,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0
8691,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0
8692,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0

In [29]:
passenger_id = tf["PassengerId"]
tf = tf.drop(["PassengerId","Name"],axis=1)
tf

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
0,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0
1,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0
2,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0
3,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0
4,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
4272,Earth,True,G/1496/S,TRAPPIST-1e,34.0,False,0.0,0.0,0.0,0.0,0.0
4273,Earth,False,NaN,TRAPPIST-1e,42.0,False,0.0,847.0,17.0,10.0,144.0
4274,Mars,True,D/296/P,55 Cancri e,NaN,False,0.0,0.0,0.0,0.0,0.0
4275,Europa,False,D/297/P,NaN,NaN,False,0.0,2680.0,0.0,0.0,523.0
4276,Earth,True,G/1498/S,PSO J318.5-22,43.0,False,0.0,0.0,0.0,0.0,0.0

In [30]:
# check for null values
df.isnull().any()

HomePlanet      True
CryoSleep       True
Cabin           True
Destination     True
Age             True
VIP             True
RoomService     True
FoodCourt       True
ShoppingMall    True
Spa             True
VRDeck          True
dtype: bool

In [31]:
tf.isnull().any()

HomePlanet      True
CryoSleep       True
Cabin           True
Destination     True
Age             True
VIP             True
RoomService     True
FoodCourt       True
ShoppingMall    True
Spa             True
VRDeck          True
dtype: bool

In [32]:
# fill null values with -1
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy="most_frequent",missing_values=np.nan)
df[df.columns] = imputer.fit_transform(df[df.columns])
df

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
0,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0
1,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0
2,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0
3,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0
4,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...
8688,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0
8689,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0
8690,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0
8691,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0
8692,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0

In [33]:
df.isnull().any()

HomePlanet      False
CryoSleep       False
Cabin           False
Destination     False
Age             False
VIP             False
RoomService     False
FoodCourt       False
ShoppingMall    False
Spa             False
VRDeck          False
dtype: bool

In [34]:
tf[tf.columns] = imputer.transform(tf[tf.columns])
tf

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
0,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0
1,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0
2,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0
3,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0
4,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
4272,Earth,True,G/1496/S,TRAPPIST-1e,34.0,False,0.0,0.0,0.0,0.0,0.0
4273,Earth,False,G/734/S,TRAPPIST-1e,42.0,False,0.0,847.0,17.0,10.0,144.0
4274,Mars,True,D/296/P,55 Cancri e,24.0,False,0.0,0.0,0.0,0.0,0.0
4275,Europa,False,D/297/P,TRAPPIST-1e,24.0,False,0.0,2680.0,0.0,0.0,523.0
4276,Earth,True,G/1498/S,PSO J318.5-22,43.0,False,0.0,0.0,0.0,0.0,0.0

In [35]:
# convert boolean statement to int
df["CryoSleep"] = df["CryoSleep"].apply(int)
df["VIP"] = df["VIP"].apply(int)
target = target.apply(int)
df

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
0,Europa,0,B/0/P,TRAPPIST-1e,39.0,0,0.0,0.0,0.0,0.0,0.0
1,Earth,0,F/0/S,TRAPPIST-1e,24.0,0,109.0,9.0,25.0,549.0,44.0
2,Europa,0,A/0/S,TRAPPIST-1e,58.0,1,43.0,3576.0,0.0,6715.0,49.0
3,Europa,0,A/0/S,TRAPPIST-1e,33.0,0,0.0,1283.0,371.0,3329.0,193.0
4,Earth,0,F/1/S,TRAPPIST-1e,16.0,0,303.0,70.0,151.0,565.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...
8688,Europa,0,A/98/P,55 Cancri e,41.0,1,0.0,6819.0,0.0,1643.0,74.0
8689,Earth,1,G/1499/S,PSO J318.5-22,18.0,0,0.0,0.0,0.0,0.0,0.0
8690,Earth,0,G/1500/S,TRAPPIST-1e,26.0,0,0.0,0.0,1872.0,1.0,0.0
8691,Europa,0,E/608/S,55 Cancri e,32.0,0,0.0,1049.0,0.0,353.0,3235.0
8692,Europa,0,E/608/S,TRAPPIST-1e,44.0,0,126.0,4688.0,0.0,0.0,12.0

In [36]:
tf["CryoSleep"] = tf["CryoSleep"].apply(int)
tf["VIP"] = tf["VIP"].apply(int)
tf

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
0,Earth,1,G/3/S,TRAPPIST-1e,27.0,0,0.0,0.0,0.0,0.0,0.0
1,Earth,0,F/4/S,TRAPPIST-1e,19.0,0,0.0,9.0,0.0,2823.0,0.0
2,Europa,1,C/0/S,55 Cancri e,31.0,0,0.0,0.0,0.0,0.0,0.0
3,Europa,0,C/1/S,TRAPPIST-1e,38.0,0,0.0,6652.0,0.0,181.0,585.0
4,Earth,0,F/5/S,TRAPPIST-1e,20.0,0,10.0,0.0,635.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
4272,Earth,1,G/1496/S,TRAPPIST-1e,34.0,0,0.0,0.0,0.0,0.0,0.0
4273,Earth,0,G/734/S,TRAPPIST-1e,42.0,0,0.0,847.0,17.0,10.0,144.0
4274,Mars,1,D/296/P,55 Cancri e,24.0,0,0.0,0.0,0.0,0.0,0.0
4275,Europa,0,D/297/P,TRAPPIST-1e,24.0,0,0.0,2680.0,0.0,0.0,523.0
4276,Earth,1,G/1498/S,PSO J318.5-22,43.0,0,0.0,0.0,0.0,0.0,0.0

In [37]:
def fl(x):
  return str(x)[0]
# create new columns, deck and side
df["Deck"] = df["Cabin"].apply(fl)
df

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Deck
0,Europa,0,B/0/P,TRAPPIST-1e,39.0,0,0.0,0.0,0.0,0.0,0.0,B
1,Earth,0,F/0/S,TRAPPIST-1e,24.0,0,109.0,9.0,25.0,549.0,44.0,F
2,Europa,0,A/0/S,TRAPPIST-1e,58.0,1,43.0,3576.0,0.0,6715.0,49.0,A
3,Europa,0,A/0/S,TRAPPIST-1e,33.0,0,0.0,1283.0,371.0,3329.0,193.0,A
4,Earth,0,F/1/S,TRAPPIST-1e,16.0,0,303.0,70.0,151.0,565.0,2.0,F
...,...,...,...,...,...,...,...,...,...,...,...,...
8688,Europa,0,A/98/P,55 Cancri e,41.0,1,0.0,6819.0,0.0,1643.0,74.0,A
8689,Earth,1,G/1499/S,PSO J318.5-22,18.0,0,0.0,0.0,0.0,0.0,0.0,G
8690,Earth,0,G/1500/S,TRAPPIST-1e,26.0,0,0.0,0.0,1872.0,1.0,0.0,G
8691,Europa,0,E/608/S,55 Cancri e,32.0,0,0.0,1049.0,0.0,353.0,3235.0,E
8692,Europa,0,E/608/S,TRAPPIST-1e,44.0,0,126.0,4688.0,0.0,0.0,12.0,E

In [38]:
tf["Deck"] = tf["Cabin"].apply(fl)
tf

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Deck
0,Earth,1,G/3/S,TRAPPIST-1e,27.0,0,0.0,0.0,0.0,0.0,0.0,G
1,Earth,0,F/4/S,TRAPPIST-1e,19.0,0,0.0,9.0,0.0,2823.0,0.0,F
2,Europa,1,C/0/S,55 Cancri e,31.0,0,0.0,0.0,0.0,0.0,0.0,C
3,Europa,0,C/1/S,TRAPPIST-1e,38.0,0,0.0,6652.0,0.0,181.0,585.0,C
4,Earth,0,F/5/S,TRAPPIST-1e,20.0,0,10.0,0.0,635.0,0.0,0.0,F
...,...,...,...,...,...,...,...,...,...,...,...,...
4272,Earth,1,G/1496/S,TRAPPIST-1e,34.0,0,0.0,0.0,0.0,0.0,0.0,G
4273,Earth,0,G/734/S,TRAPPIST-1e,42.0,0,0.0,847.0,17.0,10.0,144.0,G
4274,Mars,1,D/296/P,55 Cancri e,24.0,0,0.0,0.0,0.0,0.0,0.0,D
4275,Europa,0,D/297/P,TRAPPIST-1e,24.0,0,0.0,2680.0,0.0,0.0,523.0,D
4276,Earth,1,G/1498/S,PSO J318.5-22,43.0,0,0.0,0.0,0.0,0.0,0.0,G

In [39]:
def side(x):
  return str(x)[-1]

df["Side"] = df["Cabin"].apply(side)
df

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Deck,Side
0,Europa,0,B/0/P,TRAPPIST-1e,39.0,0,0.0,0.0,0.0,0.0,0.0,B,P
1,Earth,0,F/0/S,TRAPPIST-1e,24.0,0,109.0,9.0,25.0,549.0,44.0,F,S
2,Europa,0,A/0/S,TRAPPIST-1e,58.0,1,43.0,3576.0,0.0,6715.0,49.0,A,S
3,Europa,0,A/0/S,TRAPPIST-1e,33.0,0,0.0,1283.0,371.0,3329.0,193.0,A,S
4,Earth,0,F/1/S,TRAPPIST-1e,16.0,0,303.0,70.0,151.0,565.0,2.0,F,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,Europa,0,A/98/P,55 Cancri e,41.0,1,0.0,6819.0,0.0,1643.0,74.0,A,P
8689,Earth,1,G/1499/S,PSO J318.5-22,18.0,0,0.0,0.0,0.0,0.0,0.0,G,S
8690,Earth,0,G/1500/S,TRAPPIST-1e,26.0,0,0.0,0.0,1872.0,1.0,0.0,G,S
8691,Europa,0,E/608/S,55 Cancri e,32.0,0,0.0,1049.0,0.0,353.0,3235.0,E,S
8692,Europa,0,E/608/S,TRAPPIST-1e,44.0,0,126.0,4688.0,0.0,0.0,12.0,E,S

In [40]:
tf["Side"] = tf["Cabin"].apply(side)
tf

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Deck,Side
0,Earth,1,G/3/S,TRAPPIST-1e,27.0,0,0.0,0.0,0.0,0.0,0.0,G,S
1,Earth,0,F/4/S,TRAPPIST-1e,19.0,0,0.0,9.0,0.0,2823.0,0.0,F,S
2,Europa,1,C/0/S,55 Cancri e,31.0,0,0.0,0.0,0.0,0.0,0.0,C,S
3,Europa,0,C/1/S,TRAPPIST-1e,38.0,0,0.0,6652.0,0.0,181.0,585.0,C,S
4,Earth,0,F/5/S,TRAPPIST-1e,20.0,0,10.0,0.0,635.0,0.0,0.0,F,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,Earth,1,G/1496/S,TRAPPIST-1e,34.0,0,0.0,0.0,0.0,0.0,0.0,G,S
4273,Earth,0,G/734/S,TRAPPIST-1e,42.0,0,0.0,847.0,17.0,10.0,144.0,G,S
4274,Mars,1,D/296/P,55 Cancri e,24.0,0,0.0,0.0,0.0,0.0,0.0,D,P
4275,Europa,0,D/297/P,TRAPPIST-1e,24.0,0,0.0,2680.0,0.0,0.0,523.0,D,P
4276,Earth,1,G/1498/S,PSO J318.5-22,43.0,0,0.0,0.0,0.0,0.0,0.0,G,S

In [41]:
df = df.drop(["Cabin"],axis=1)
tf = tf.drop(["Cabin"],axis=1)
df,tf

(     HomePlanet  CryoSleep    Destination   Age  VIP RoomService FoodCourt  \
 0        Europa          0    TRAPPIST-1e  39.0    0         0.0       0.0
 1         Earth          0    TRAPPIST-1e  24.0    0       109.0       9.0
 2        Europa          0    TRAPPIST-1e  58.0    1        43.0    3576.0
 3        Europa          0    TRAPPIST-1e  33.0    0         0.0    1283.0
 4         Earth          0    TRAPPIST-1e  16.0    0       303.0      70.0
 ...         ...        ...            ...   ...  ...         ...       ...
 8688     Europa          0    55 Cancri e  41.0    1         0.0    6819.0
 8689      Earth          1  PSO J318.5-22  18.0    0         0.0       0.0
 8690      Earth          0    TRAPPIST-1e  26.0    0         0.0       0.0
 8691     Europa          0    55 Cancri e  32.0    0         0.0    1049.0
 8692     Europa          0    TRAPPIST-1e  44.0    0       126.0    4688.0

      ShoppingMall     Spa  VRDeck Deck Side
 0             0.0     0.0     0.0    B    P
 1            25.0   549.0    44.0    F    S
 2             0.0  6715.0    49.0    A    S
 3           371.0  3329.0   193.0    A    S
 4           151.0   565.0     2.0    F    S
 ...           ...     ...     ...  ...  ...
 8688          0.0  1643.0    74.0    A    P
 8689          0.0     0.0     0.0    G    S
 8690       1872.0     1.0     0.0    G    S
 8691          0.0   353.0  3235.0    E    S
 8692          0.0     0.0    12.0    E    S

 [8693 rows x 12 columns],
      HomePlanet  CryoSleep    Destination   Age  VIP RoomService FoodCourt  \
 0         Earth          1    TRAPPIST-1e  27.0    0         0.0       0.0
 1         Earth          0    TRAPPIST-1e  19.0    0         0.0       9.0
 2        Europa          1    55 Cancri e  31.0    0         0.0       0.0
 3        Europa          0    TRAPPIST-1e  38.0    0         0.0    6652.0
 4         Earth          0    TRAPPIST-1e  20.0    0        10.0       0.0
 ...         ...        ...            ...   ...  ...         ...       ...
 4272      Earth          1    TRAPPIST-1e  34.0    0         0.0       0.0
 4273      Earth          0    TRAPPIST-1e  42.0    0         0.0     847.0
 4274       Mars          1    55 Cancri e  24.0    0         0.0       0.0
 4275     Europa          0    TRAPPIST-1e  24.0    0         0.0    2680.0
 4276      Earth          1  PSO J318.5-22  43.0    0         0.0       0.0

      ShoppingMall     Spa VRDeck Deck Side
 0             0.0     0.0    0.0    G    S
 1             0.0  2823.0    0.0    F    S
 2             0.0     0.0    0.0    C    S
 3             0.0   181.0  585.0    C    S
 4           635.0     0.0    0.0    F    S
 ...           ...     ...    ...  ...  ...
 4272          0.0     0.0    0.0    G    S
 4273         17.0    10.0  144.0    G    S
 4274          0.0     0.0    0.0    D    P
 4275          0.0     0.0  523.0    D    P
 4276          0.0     0.0    0.0    G    S

 [4277 rows x 12 columns])

In [42]:
# apply label encoding
from sklearn.preprocessing import LabelEncoder

column_to_be_encoded = ["HomePlanet","Destination","Deck","Side"]

encoder = LabelEncoder()

df["HomePlanet"] = encoder.fit_transform(df["HomePlanet"])
tf["HomePlanet"] = encoder.transform(tf["HomePlanet"])
df["Destination"] = encoder.fit_transform(df["Destination"])
tf["Destination"] = encoder.transform(tf["Destination"])
df["Deck"] = encoder.fit_transform(df["Deck"])
tf["Deck"] = encoder.transform(tf["Deck"])
df["Side"] = encoder.fit_transform(df["Side"])
tf["Side"] = encoder.transform(tf["Side"])


df, tf

(      HomePlanet  CryoSleep  Destination   Age  VIP RoomService FoodCourt  \
 0              1          0            2  39.0    0         0.0       0.0
 1              0          0            2  24.0    0       109.0       9.0
 2              1          0            2  58.0    1        43.0    3576.0
 3              1          0            2  33.0    0         0.0    1283.0
 4              0          0            2  16.0    0       303.0      70.0
 ...          ...        ...          ...   ...  ...         ...       ...
 8688           1          0            0  41.0    1         0.0    6819.0
 8689           0          1            1  18.0    0         0.0       0.0
 8690           0          0            2  26.0    0         0.0       0.0
 8691           1          0            0  32.0    0         0.0    1049.0
 8692           1          0            2  44.0    0       126.0    4688.0

      ShoppingMall     Spa  VRDeck  Deck  Side
 0             0.0     0.0     0.0     1     0
 1            25.0   549.0    44.0     5     1
 2             0.0  6715.0    49.0     0     1
 3           371.0  3329.0   193.0     0     1
 4           151.0   565.0     2.0     5     1
 ...           ...     ...     ...   ...   ...
 8688          0.0  1643.0    74.0     0     0
 8689          0.0     0.0     0.0     6     1
 8690       1872.0     1.0     0.0     6     1
 8691          0.0   353.0  3235.0     4     1
 8692          0.0     0.0    12.0     4     1

 [8693 rows x 12 columns],
       HomePlanet  CryoSleep  Destination   Age  VIP RoomService FoodCourt  \
 0              0          1            2  27.0    0         0.0       0.0
 1              0          0            2  19.0    0         0.0       9.0
 2              1          1            0  31.0    0         0.0       0.0
 3              1          0            2  38.0    0         0.0    6652.0
 4              0          0            2  20.0    0        10.0       0.0
 ...          ...        ...          ...   ...  ...         ...       ...
 4272           0          1            2  34.0    0         0.0       0.0
 4273           0          0            2  42.0    0         0.0     847.0
 4274           2          1            0  24.0    0         0.0       0.0
 4275           1          0            2  24.0    0         0.0    2680.0
 4276           0          1            1  43.0    0         0.0       0.0

      ShoppingMall     Spa VRDeck  Deck  Side
 0             0.0     0.0    0.0     6     1
 1             0.0  2823.0    0.0     5     1
 2             0.0     0.0    0.0     2     1
 3             0.0   181.0  585.0     2     1
 4           635.0     0.0    0.0     5     1
 ...           ...     ...    ...   ...   ...
 4272          0.0     0.0    0.0     6     1
 4273         17.0    10.0  144.0     6     1
 4274          0.0     0.0    0.0     3     0
 4275          0.0     0.0  523.0     3     0
 4276          0.0     0.0    0.0     6     1

 [4277 rows x 12 columns])

In [43]:
target

0       0
1       1
2       0
3       0
4       1
       ..
8688    0
8689    0
8690    1
8691    0
8692    1
Name: Transported, Length: 8693, dtype: int64

In [44]:
# build ml model
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

X_train,X_test,y_train,y_test = train_test_split(df,target,test_size=0.2,random_state=42)

X_train,X_test,y_train,y_test

(      HomePlanet  CryoSleep  Destination   Age  VIP RoomService FoodCourt  \
 2333           0          0            2  28.0    0         0.0      55.0
 2589           0          0            2  17.0    0         0.0    1195.0
 8302           1          1            0  28.0    0         0.0       0.0
 8177           2          0            2  20.0    0         0.0       2.0
 500            1          1            0  36.0    0         0.0       0.0
 ...          ...        ...          ...   ...  ...         ...       ...
 5734           0          0            2  18.0    0        14.0       2.0
 5191           2          0            2  50.0    0       690.0       0.0
 5390           0          0            1  22.0    0       158.0       0.0
 860            2          0            2  34.0    0       379.0       0.0
 7270           1          0            0  28.0    0         7.0     489.0

      ShoppingMall    Spa  VRDeck  Deck  Side
 2333          0.0  656.0     0.0     6     1
 2589         31.0    0.0     0.0     5     0
 8302          0.0    0.0     0.0     2     1
 8177        289.0  976.0     0.0     5     0
 500           0.0    0.0     0.0     2     0
 ...           ...    ...     ...   ...   ...
 5734        144.0  610.0     0.0     6     1
 5191         30.0  762.0   428.0     5     1
 5390        476.0    0.0    26.0     5     0
 860        1626.0    0.0     0.0     5     0
 7270          0.0    4.0  6027.0     2     0

 [6954 rows x 12 columns],
       HomePlanet  CryoSleep  Destination   Age  VIP RoomService FoodCourt  \
 304            2          0            2  19.0    0       417.0     349.0
 2697           0          0            2  18.0    0         4.0     904.0
 8424           0          1            2  41.0    0         0.0       0.0
 1672           0          0            2  35.0    0         0.0     338.0
 8458           1          1            2  43.0    0         0.0       0.0
 ...          ...        ...          ...   ...  ...         ...       ...
 7175           0          1            2  16.0    0         0.0       0.0
 3187           0          1            2   0.0    0         0.0       0.0
 1302           0          0            2  17.0    0        21.0       0.0
 5934           2          1            2  42.0    0         0.0       0.0
 6093           0          0            2  17.0    0         0.0       0.0

      ShoppingMall     Spa  VRDeck  Deck  Side
 304         634.0     3.0  1057.0     5     1
 2697          0.0     0.0     1.0     6     1
 8424          0.0     0.0     0.0     6     1
 1672        436.0     0.0     0.0     6     0
 8458          0.0     0.0     0.0     3     0
 ...           ...     ...     ...   ...   ...
 7175          0.0     0.0     0.0     6     1
 3187          0.0     0.0     0.0     6     1
 1302        690.0   260.0     5.0     4     1
 5934          0.0     0.0     0.0     5     0
 6093          0.0  1806.0     0.0     6     1

 [1739 rows x 12 columns],
 2333    0
 2589    0
 8302    1
 8177    1
 500     1
        ..
 5734    1
 5191    0
 5390    0
 860     0
 7270    0
 Name: Transported, Length: 6954, dtype: int64,
 304     1
 2697    0
 8424    0
 1672    1
 8458    1
        ..
 7175    0
 3187    1
 1302    0
 5934    1
 6093    0
 Name: Transported, Length: 1739, dtype: int64)

In [45]:
model = RandomForestClassifier()

model.fit(X_train,y_train)

RandomForestClassifier()

In [46]:
preds = model.predict(X_test)
preds

array([0, 1, 1, ..., 0, 1, 0])

In [47]:
from sklearn.metrics import accuracy_score

acc_score = accuracy_score(y_test,preds)
acc_score

0.7866589994249569

In [48]:
tf

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Deck,Side
0,0,1,2,27.0,0,0.0,0.0,0.0,0.0,0.0,6,1
1,0,0,2,19.0,0,0.0,9.0,0.0,2823.0,0.0,5,1
2,1,1,0,31.0,0,0.0,0.0,0.0,0.0,0.0,2,1
3,1,0,2,38.0,0,0.0,6652.0,0.0,181.0,585.0,2,1
4,0,0,2,20.0,0,10.0,0.0,635.0,0.0,0.0,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...
4272,0,1,2,34.0,0,0.0,0.0,0.0,0.0,0.0,6,1
4273,0,0,2,42.0,0,0.0,847.0,17.0,10.0,144.0,6,1
4274,2,1,0,24.0,0,0.0,0.0,0.0,0.0,0.0,3,0
4275,1,0,2,24.0,0,0.0,2680.0,0.0,0.0,523.0,3,0
4276,0,1,1,43.0,0,0.0,0.0,0.0,0.0,0.0,6,1

In [50]:
test_preds = model.predict(tf)
test_preds

array([1, 0, 1, ..., 1, 1, 0])

In [52]:
passenger_id.values

array(['0013_01', '0018_01', '0019_01', ..., '9271_01', '9273_01',
       '9277_01'], dtype=object)

In [53]:
s = {"PassengerId":passenger_id.values,
     "Transported":test_preds}

submission = pd.DataFrame(s)
submission

     PassengerId  Transported
0        0013_01            1
1        0018_01            0
2        0019_01            1
3        0021_01            1
4        0023_01            1
...          ...          ...
4272     9266_02            1
4273     9269_01            0
4274     9271_01            1
4275     9273_01            1
4276     9277_01            0

[4277 rows x 2 columns]

In [54]:
submission.to_csv("submission.csv",index=False)