In [1]:
# importing important libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
# read the csv file
df = pd.read_csv("Student_Marks.csv")
# display top 5 student
df.head()

   number_courses  time_study   Marks
0               3       4.508  19.202
1               4       0.096   7.734
2               4       3.133  13.811
3               6       7.909  53.018
4               8       7.811  55.299

In [ ]:
# seperate the data into x (independent variable) and y (dependent variable)
x = df.iloc[:,:-1].values
y = df.iloc[:,-1].values

In [ ]:
x

array([[3.   , 4.508],
       [4.   , 0.096],
       [4.   , 3.133],
       [6.   , 7.909],
       [8.   , 7.811],
       [6.   , 3.211],
       [3.   , 6.063],
       [5.   , 3.413],
       [4.   , 4.41 ],
       [3.   , 6.173],
       [3.   , 7.353],
       [7.   , 0.423],
       [7.   , 4.218],
       [3.   , 4.274],
       [3.   , 2.908],
       [4.   , 4.26 ],
       [5.   , 5.719],
       [8.   , 6.08 ],
       [6.   , 7.711],
       [8.   , 3.977],
       [4.   , 4.733],
       [6.   , 6.126],
       [5.   , 2.051],
       [7.   , 4.875],
       [4.   , 3.635],
       [3.   , 1.407],
       [7.   , 0.508],
       [8.   , 4.378],
       [5.   , 0.156],
       [4.   , 1.299],
       [8.   , 3.864],
       [3.   , 1.923],
       [8.   , 0.932],
       [6.   , 6.594],
       [3.   , 4.083],
       [3.   , 7.543],
       [4.   , 2.966],
       [6.   , 7.283],
       [7.   , 6.533],
       [6.   , 7.775],
       [4.   , 0.14 ],
       [6.   , 2.754],
       [6.   , 3.591],
       [5.   , 1.557],
       [4.   , 1.954],
       [3.   , 2.061],
       [4.   , 3.797],
       [4.   , 4.779],
       [3.   , 5.635],
       [5.   , 3.913],
       [6.   , 6.703],
       [6.   , 4.13 ],
       [4.   , 0.771],
       [7.   , 6.049],
       [8.   , 7.591],
       [7.   , 2.913],
       [8.   , 7.641],
       [7.   , 7.649],
       [3.   , 6.198],
       [8.   , 7.468],
       [6.   , 0.376],
       [4.   , 2.438],
       [6.   , 3.606],
       [3.   , 4.869],
       [7.   , 0.13 ],
       [6.   , 2.142],
       [4.   , 5.473],
       [3.   , 0.55 ],
       [4.   , 1.395],
       [6.   , 3.948],
       [4.   , 3.736],
       [5.   , 2.518],
       [3.   , 4.633],
       [3.   , 1.629],
       [4.   , 6.954],
       [3.   , 0.803],
       [5.   , 6.379],
       [8.   , 5.985],
       [7.   , 7.451],
       [3.   , 0.805],
       [7.   , 7.957],
       [8.   , 2.262],
       [4.   , 7.41 ],
       [5.   , 3.197],
       [8.   , 1.982],
       [8.   , 6.201],
       [7.   , 4.067],
       [3.   , 1.033],
       [5.   , 1.803],
       [7.   , 6.376],
       [7.   , 4.182],
       [8.   , 2.73 ],
       [4.   , 5.027],
       [8.   , 6.471],
       [8.   , 3.919],
       [6.   , 3.561],
       [3.   , 0.301],
       [4.   , 7.163],
       [7.   , 0.309],
       [3.   , 6.335]])

In [ ]:
y

array([19.202,  7.734, 13.811, 53.018, 55.299, 17.822, 29.889, 17.264,
       20.348, 30.862, 42.036, 12.132, 24.318, 17.672, 11.397, 19.466,
       30.548, 38.49 , 50.986, 25.133, 22.073, 35.939, 12.209, 28.043,
       16.517,  6.623, 12.647, 26.532,  9.333,  8.837, 24.172,  8.1  ,
       15.038, 39.965, 17.171, 43.978, 13.119, 46.453, 41.358, 51.142,
        7.336, 15.725, 19.771, 10.429,  9.742,  8.924, 16.703, 22.701,
       26.882, 19.106, 40.602, 22.184,  7.892, 36.653, 53.158, 18.238,
       53.359, 51.583, 31.236, 51.343, 10.522, 10.844, 19.59 , 21.379,
       12.591, 13.562, 27.569,  6.185,  8.92 , 21.4  , 16.606, 13.416,
       20.398,  7.014, 39.952,  6.217, 36.746, 38.278, 49.544,  6.349,
       54.321, 17.705, 44.099, 16.106, 16.461, 39.957, 23.149,  6.053,
       11.253, 40.024, 24.394, 19.564, 23.916, 42.426, 24.451, 19.128,
        5.609, 41.444, 12.027, 32.357])

In [ ]:
# use 20% of the data as test data
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=0)

In [ ]:
# create regression model
from sklearn.linear_model import LinearRegression

regressor = LinearRegression()
regressor.fit(x_train, y_train)

LinearRegression()

In [ ]:
# create prediction using test set
y_pred = regressor.predict(x_test)
np.set_printoptions(precision=2)
# print prediction and actual value side by side
comparison = np.concatenate((y_pred.reshape(len(y_pred),1),y_test.reshape(len(y_pred),1)),1)
            
print(comparison)

[[ 8.54 12.65]
 [27.74 23.15]
 [17.26 13.81]
 [21.51 18.24]
 [ 2.88  6.22]
 [42.52 42.43]
 [33.02 30.55]
 [ 7.34  7.01]
 [48.56 53.16]
 [23.19 19.13]
 [38.43 36.65]
 [27.48 23.92]
 [45.99 49.54]
 [21.6  17.67]
 [20.58 17.26]
 [28.45 24.17]
 [13.24 12.21]
 [19.97 16.52]
 [39.56 39.97]
 [24.15 20.35]]

In [ ]:
regressor.predict([[8,7.468]])

array([47.89])

In [13]:
# add grade column
def determineGrade(row):
  if row.Marks <= 100 and row.Marks >= 85:
    return 'A'
  elif row.Marks <= 84 and row.Marks >= 74:
    return 'B' 
  elif row.Marks <= 73 and row.Marks >= 60:
    return 'C' 
  elif row.Marks <= 59 and row.Marks >= 45:
    return 'D' 
  else:
    return 'F'
df["Grade"] = df.apply(determineGrade, axis="columns")

df

    number_courses  time_study   Marks Grade
0                3       4.508  19.202     F
1                4       0.096   7.734     F
2                4       3.133  13.811     F
3                6       7.909  53.018     D
4                8       7.811  55.299     D
..             ...         ...     ...   ...
95               6       3.561  19.128     F
96               3       0.301   5.609     F
97               4       7.163  41.444     F
98               7       0.309  12.027     F
99               3       6.335  32.357     F

[100 rows x 4 columns]